#h1-pl1 {
    color: blue;
}

#sp-p1 {
    font-size: 200%;
}

#h2-pl1 {
    background-color: blue;
    color: white;
}

.sp-p2 {
    border: 1px solid grey;
}

#sp-p2-red {
    background-color: red;
}

#h2-pl2 {
    background-color: yellow;
}

#sp-p2-green {
    background-color: green;
}

#p-p3 {
    font-size: 150%;
}

#sp-p3 {
    text-decoration: underline;
    color: green;
}

#sp-p3-r-red {
    color: red;
}

.black-br {
    background-color: #333;
    color: white;
}

table {
    border-spacing: 0px;
}

.h4+.p4 {
    color: red;
}

#ul1-p4>li {
    list-style-type: none;

}

.li-underline {
    border-bottom: 1px solid grey;
}

a[href="https"] {
    border: 5px solid green;
    padding: 10px 500px 10px 10px;
}

a[title] {
    border: 5px solid pink;
    padding: 10px 500px 10px 10px;
}

a {
    border: 5px solid orange;
    padding: 10px 500px 10px 10px;

}